:root {
  --black: #111;
  --orange: #fd9222;
  --violet: #1e1823;
  --beige: #fcf1e0;
  --light: #fafafa;
  --gray: #4c4c4c;
  --white: #fff;
  --marker-body: #4c4c4c;
  --marker-border: #eceded;
  --font-family: "Montserrat", sans-serif;
}

body {
  font-family: var(--font-family);
}

a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
ul,
ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.container {
  width: 1168px;
  padding: 0 16px;
  margin: 0 auto;
}

.header-section {
  padding-top: 20px;
  padding-bottom: 20px;
}
.nav-menu {
  display: flex;
  align-items: center;
  margin-right: 90px;
}
.nav-link {
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14286;
  letter-spacing: -0.02em;
  color: #111;
}
.section-top {
  padding: 60px;
}
.section-top-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16667;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--black);
  margin-bottom: 50px;
}
.orange {
  color: var(--orange);
}
.list-top {
  display: flex;
  gap: 16px;
}
.item-top {
  width: calc((100% - 32px) / 3);
}
.item-top img {
  border-radius: 15px 15px 0 0;
}
.cont-title-top {
  padding: 28px 0;
  border-bottom: 1px solid rgba(17, 17, 17, 0.1);
  border-left: 1px solid rgba(17, 17, 17, 0.1);
  border-right: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 0 0 15px 15px;
}
.sub-title-top {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33333;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--black);
  text-align: center;
}
